.scroll-to-top button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #763fdb;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease;
    text-align: center;
  }

  .scroll-to-top button:hover {
    opacity: 1;
    background-color: #535bf2;
  }