/* Estilos para la página Profile */
html,
body {
  width: 100%;
  height: auto;
  /* Asegura que el body ocupe todo el alto de la pantalla */
  width: 100%;

}

h1 {
  color: var(--color-negro);
}

/* Estilos para los enlaces de navegación */
.links {
  margin-top: 20px;
}

.go-to-dashboard-link,
.go-to-product-link {
  display: block;
  margin-top: 20px;
  color: var(--color-amarillo);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.go-to-dashboard-link:hover,
.go-to-product-link:hover {
  color: var(--color-negro);
}