/* Restablecer márgenes y padding por defecto para ocupar todo el ancho y alto */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box; /* Asegura que el padding y borde no afecten el tamaño total de los elementos */
}

html, body {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}

.home {
  text-align: center;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: auto; /* Usa el 100% de la altura de la ventana */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}

/* Otros estilos que ya tenías */
h1 {
  color: var(--color-amarillo);
}

.cta-btn {
  background-color: var(--color-amarillo);
  color: var(--color-negro);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: var(--color-negro);
  color: var(--color-blanco);
}

.links {
  margin-top: 20px;
}

.go-to-dashboard-link,
.go-to-profile-link {
  display: block;
  margin-top: 20px;
  color: var(--color-amarillo);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.go-to-dashboard-link:hover,
.go-to-profile-link:hover {
  color: var(--color-negro);
}


