/* Estilos para la página Product */
html, body {
  width: 100%;
  height: auto; /* Asegura que el body ocupe todo el alto de la pantalla */
  text-align: center;
  padding: 20px;
}

.product {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: var(--color-negro);
  }
  
  /* Estilos para los enlaces de navegación */
  .links {
    margin-top: 20px;
  }
  
  .go-to-dashboard-link,
  .go-to-profile-link {
    display: block;
    margin-top: 20px;
    color: var(--color-amarillo);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .go-to-dashboard-link:hover,
  .go-to-profile-link:hover {
    color: var(--color-negro);
  }
  