.button-link {
    display: inline-block;
    padding: 5%;
    background-color: var(--color-amarillo);
    color: rgb(255, 255, 255); /* Color del texto del enlace */
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.button-link button {
    color: rgb(255, 255, 255); /* Asegura que el texto del botón sea blanco */
    background: none; /* Opcional: elimina el fondo del botón si no es necesario */
    border: none; /* Opcional: elimina el borde del botón */
    font: inherit; /* Hereda las propiedades de fuente del enlace */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.button-link:hover {
    transform: scale(1.02);
}
